PORT=8080
FRONTEND_URL=http://localhost:3000
DB_URI=your_mongodb_uri_here
DB_HOSTED_URI=your_mongodb_uri_here
JWT_SECRET_KEY=your_jwt_secret_here
JWT_EXPIRES_IN=7d
COOKIE_EXPIRES=7
RESULT_PER_PAGE=8
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
SMTP_HOST=
SMTP_PORT=
SMTP_SERVICE=
SMTP_MAIL=
SMTP_PASSWORD=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GEMINI_API_KEY=
REDIS_HOSTED_URL=
